<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="paolo.bcp.authentication">

    <application>

        <activity
            android:name=".platform.front.common.AuthenticationActivity"
            android:exported="true"
            android:theme="@style/Theme.Bcp_challenge.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>